@media (max-width:767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        background-color: rgb(225, 255, 143);
        background-image: url(./image/starHead.png);
        background-repeat: no-repeat;
        background-position: calc(50% + 175px) calc(50% - 165px);
        background-size: auto;
    }

    .header__box {
        width: 296px;
        height: 280px;
        padding-left: 40px;
        padding-top: 147px;
        padding-right: 40px;
    }

    .header__heading {
        color: rgb(32, 32, 39);
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0px;
        text-align: center;
    }

    .header__text {
        color: rgb(32, 32, 39);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        padding-bottom: 36px;
    }

    .header__button {
        width: 285px;
        height: 55px;
    }

    .animated-line {
        height: 52px;
    }

    .header__line {
        height: 52px;
    }

    .collection-games__title {
        display: none;
    }

    .collection-games__text {
        display: none;
    }

    .game-preview {
        display: none;
    }

    .mini-games__title {
        color: rgb(255, 255, 255);
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .game-cart {
        width: 343px;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }


    .right {
        display: flex;
        flex-direction: column-reverse;

    }

    .game-cart__name {
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;

    }

    .game-cart__condition {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 32px;
    }

    .game-cart__button {
        width: 285px;
        height: 55px;
        font-size: 16px;
        font-weight: 600;
    }

    .game-cart__info {
        width: 285px;
        height: 100%;
        padding-left: 29px;
        padding-right: 29px;
        padding-bottom: 29px;
        padding-top: 29px;
    }

    .game-cart__image {
        width: 343px;
        height: 285px;
    }


    .mini-games {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin-left: 16px;
        margin-right: 16px;
        padding-bottom: 48px;
    }


    .footer__title {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
    }
}