* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 800px;
  background: url(image/starBig.svg) no-repeat right top,
  url(image/Star2.svg) no-repeat 5% 94px,
  url(image/Star3.svg) no-repeat 10% 59px,
  url(image/Star\ 4.svg) no-repeat 1120px 550px,
  url(image/Star\ 5.svg) no-repeat 1050px 500px;
  background-color: rgb(225, 255, 143);
}

.header__box {
  padding-left: 160px;
  padding-top: 196px;
  max-width: 768px;
  padding-right: 120px;
  padding-bottom: 156px;
}

.header__heading {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-bottom: 24px;
  color: rgb(32, 32, 39);
  text-align: left;
  padding-bottom: 24px;
}

.header__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 48px;
}

.header__button {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  width: 247px;
  height: 66px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
}

.header__button:hover {
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  background: rgb(255, 255, 255);
  
}

.header__line {
  background-color: rgb(188, 236, 48);
  height: 90px;
  width: 100%;
  background-image: url(image/line.png);

}

.line-mobil {
  display: none;
}

.main {
  background: url(image/starMain.svg) 100% 65px,
  url(image/Star\ 8.svg)no-repeat 97% 4900px,
  url(image/Star\ 10.svg) no-repeat 93% 4960px,
  url(image/Star\ 11.svg) no-repeat 2% 750px,
  url(image/Star\ 12.svg) no-repeat no-repeat 3% 800px;
  background-color: rgb(32, 32, 39);
  background-repeat: no-repeat;
  background-size: auto;
}

.collection-games__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding-bottom: 24px;
  padding-top: 94px;
}

.collection-games__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 72px;
}

.game-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding-bottom: 50px;
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  transition: all 0.5s;
  width: 378px;
  height: 473px;
}

.card:hover {
  transform: scale(1.1);
}

.card-medium {
  width: 378px;
  height: 512px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  transition: all 0.5s;
}

.card-medium:hover {
  transform: scale(1.1);
}

.card-big {
  width: 378px;
  height: 551px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  transition: all 0.5s;
}

.card-big:hover {
  transform: scale(1.1);
}

.card__image {
  height: 314px;

}

.card__info {
  width: 378px;
  height: 159px;
  padding-left: 32px;
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 36px;
}

.card__info-medium {
  width: 314px;
  height: 130px;
  padding-left: 32px;
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 36px;
}

.card__info-big {
  width: 314px;
  height: 169px;
  padding-left: 32px;
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 36px;

}

.game-number {
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  width: 108px;
  height: 36px;
  color: rgb(39, 26, 88);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

.game-name {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 36px;
  
}

.game-number {
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  width: 108px;
  height: 36px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer {
  background: rgb(189, 237, 53);
}

.footer__title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.mini-games {
  background-color: rgb(32, 32, 39);
  padding-bottom: 144px;
}

.mini-games__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 72px;
  padding-top: 46px;
  
}

.game-cart {
  width: 1200px;
  height: 500px;
  background: #FFFFFF;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.game-cart__info {
  width: 504px;
  height: 249px;
  padding-left: 48px;
  padding-top: 48px;
  padding-right: 48px;

}


.game-cart__name {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  margin-bottom: 24px;
}

.game-cart__condition {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 36px;
}

.game-cart__button {
  border-radius: 60px;
  background: rgb(32, 32, 39);
  width: 247px;
  height: 66px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
}

.game-cart__button:hover {
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  background: rgb(255, 255, 255);
}

@media (max-width:375px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header {
    height: 700px;
    background-image: none;
    background-image: url(image/mobBigStar.svg),
    url(image/mobStar2.svg),
    url(image/mobStar3.svg),
    url(image/mobStar4.svg),
    url(image/mobStar5.svg);
    
    
  }

  .header__box {
    width: 296px;
    height: 280px;
    padding-left: 40px;
    padding-top: 147px;
    padding-right: 40px;
  }

  .header__heading {
    color: rgb(32, 32, 39);
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: center;
  }

  .header__text {
    color: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    padding-bottom: 36px;
  }
  
  .header__button {
    width: 285px;
    height: 55px;
  }

  .header__line {
    background-image: none;
    margin-top: 60px;
  }
  
  .line-mobil {
    display: block;
    margin-top: 60px;
  }

  .collection-games__title {
    display: none;
  }

  .collection-games__text {
    display: none;
  }

  .game-preview {
    display: none;
  }

  .mini-games__title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .game-cart {
    width:343px;
    height:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }


  .right {
    display: flex;
    flex-direction: column-reverse;

  }

  .game-cart__name {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    
  }
  
  .game-cart__condition {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 32px;
  }

  .game-cart__button {
    width: 285px;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
  }

  .game-cart__info {
    width: 285px;
    height: 100%;
    padding-left: 29px;
    padding-right: 29px;
    padding-bottom: 29px;
    padding-top: 29px; 
  }

  .game-cart__image {
    width: 343px;
    height: 285px;  
  }
    

  .mini-games {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 48px;
  }

  .footer {
    height: 100px;
  }


  .footer__title {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
  }

}

@import 'mobileVersion';
  
  
  








